Connected Services/RemoteHistoricalEvents/_20180417_WCF_HistoricalEventsServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_20180417_WCF_HistoricalEventsServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_20180417_WCF_HistoricalEventsServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCalendarOfEvents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalendarOfEvents" nillable="true" type="tns:CalendarOfEvents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendarOfEvents" nillable="true" type="tns:ArrayOfCalendarOfEvents" />
  <xs:complexType name="CalendarOfEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SomeEvent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalendarOfEvents" nillable="true" type="tns:CalendarOfEvents" />
</xs:schema>